@charset "UTF-8";

:root {
   --cor01: #ed1b1b;
   --cor02: #2369e3;
   --cor03: #063d1e;

   --font-padrao: 'Bebas Neue', cursive;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}